body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;

}

.header ul, a{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

.content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-1{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 194, 200);
}

.section-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.section-2 .box-image ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section-3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.section-4{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.footer{
    text-align: center;
}
