body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* there must be a better way to stretch background colors with alignment */
.header, 
.section-1, 
.section-2, 
.section-3, 
.section-4, 
.footer{
    max-width: 800px;
}

.header-background,
.section-1-background,
.section-2-background,
.section-3-background,
.section-4-background,
.footer-background{
    display: flex;
    justify-content: center;
}

.header-background{
    background-color: #1f2937;
}
.section-1-background{
    background-color: #1f2937;
}

.section-3-background{
    background-color: #e5e7eb;
}

.footer-background{
    background-color: #1f2937;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.header ul, a{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-1{
    min-height: 300px;
    font-size: 18px;
    color: #e5e7eb;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 .left {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
    row-gap: 15px;
}

.section-1 .right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.main-img {
    max-width: 100%;
    border-radius: 30px;
    border: #536177;
    border-width: 5px;
    border-style: solid;
}

.section-1 .left .primary-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8; 
}

.button-1{
    color: white;
    background-color: #3882f6;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
}

.section-2{
    min-height: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 .title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section-2 .box-image ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section-3{
    min-height: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 .quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.section-4{
    min-height: 250px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 .box{
    background-color: #3882f6;
    color: white;
}

.footer{
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
}
