body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header, .section-1, .section-2, .section-3, .section-4, .footer{
    padding: 0 50px 0 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(208, 208, 186);
}

.header ul, a{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

.content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-1{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 194, 200);
}

.section-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.section-2 .box-image ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section-3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.section-4{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.footer{
    text-align: center;
    background-color: rgb(171, 205, 235);
}
